# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
    // ---PLASE READ -- 
#component rendered using ROUTE has === history, location, match ===
#using connect(mapStateToProps) if we don't pass the second prps react bydefault pass dispatch 
# // const mapStateToProps = state => ({
# // currentUser: state.user.currentUser
# //})

# //state  <=> the whole redux store object
# //.user  <=> the key of the reducer from the root reducer
# //.currentUser <=> the object we want to accesse from the reducer or retrun    OBJECT

# dependencies

#ShopePage =>CollectionOverview => CollectionPreview =>  CollectionItem =>
# <Route exact path={`${match.path}`}  component={CollectionOverview} />
#<Route  path={`${match.path}/:collectionId`}  component={CollectionPage} /> 
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
